extends ./layout.jade

block head
	title Pidela.info — Créditos

block content
	div.credits-holder
		:markdown-it
			# Créditos

			**Pidela.info** es un proyecto para promover el acceso a la información pública creado y mantenido por la [Asociación Civil Hiperderecho](http://www.hiperderecho.org), gracias al apoyo de Hivos a través de su Programa de Experimentos Cívicos.

			Este proyecto está inspirado en plataformas similares de otros países como [What Do They Know?](https://www.whatdotheyknow.com/), [QueremoSaber](https://www.queremosaber.org.py/), entre otros.

			El desarrollo de la plataforma estuvo a cargo de [Juan La Jara](http://juanlajara.com/). Puedes acceder al código fuente, leer la documentación y colaborar con este proyecto en [nuestro perfil en Github](https://github.com/hiperderecho).

			Si quieres ponerte en contacto con nosotros, puedes escribirnos a ola (arroba) hiperderecho (punto) org o [usar el formulario de contacto de nuestra web](http://www.hiperderecho.org/contacto/).