extends ./layout.jade

block head
	title Pidela.info — ¿Cómo funciona?

block content
	:markdown-it(html='true')
		# ¿Cómo funciona?

		Pidela.info es una plataforma web que te permite hacer solicitudes de acceso a la información pública a través de Internet.

		<iframe title="YouTube video player" width="100%" height="390" src="https://www.youtube.com/embed/_iZxwwn3K0I" frameborder="0" allowfullscreen></iframe>

		1. Elige la entidad del Estado a la que quieres pedirle información y detalla tu solicitud a través de nuestro formulario.
		2. Le enviaremos un correo electrónico a la Entidad detallándole tu pedido.
		3. Cuando recibamos una respuesta, te avisaremos por correo electrónico y publicaremos la respuesta aquí.

		# Manual del Solicitante

		## Sobre las Solicitudes de Acceso a la Información Pública

		### ¿Qué es una Solicitud de Acceso a la Información Pública?

		Una **Solicitud de Acceso a la Información Pública** es un trámite que sirve para pedirle a una entidad del Estado copia de cualquier documento, fotografía, base de datos, grabación o archivo creado, obtenido o actualmente en su poder. Cualquier ciudadano tiene derecho a realizar este tipo de solicitudes en ejercicio de su libertad de información y el Estado está obligado a responderlas en cumplimiento con su deber de Transparencia.

		Toda información que posea el Estado se presume pública, salvo las excepciones previstas por ley expresamente (ej. información personal de ciudadanos, información de inteligencia, entre otras).

		### ¿Qué tipo de información se puede solicitar?

		Puede solicitarse cualquier información que esté en posesión de una entidad pública, como la copia de un expediente técnico de una obra, o que haya sido generada por la misma entidad, como informes de obras, fotografías, videos de reuniones o bases de datos.

		### ¿Qué tipo de información no se puede solicitar?

		No puede solicitarse información que no existe, tampoco puede pedirse la elaboración de un nuevo informe, la emisión de algún tipo de declaración sobre un hecho, la realización de un descargo frente al cuestionamiento de un ciudadano sobre el proceder de un funcionario, o realizarse consultas particulares a funcionarios. Tampoco puede solicitarse a la Entidad «crear» o «producir» información, o a realizar «evaluaciones» o «análisis» de información que esté bajo su control

		### ¿Quién puede enviar estas Solicitudes?

		Toda persona natural o jurídica tiene derecho a solicitar y a recibir información pública de cualquier entidad pública. La entrega de la información no puede ser nagada por motivos de edad, raza, religión, idioma, opinión política, nacionalidad o cualquier otra razón.

		### ¿Es necesario explicar para qué se solicita la información?

		No, cualquier ciudadano puede enviar una Solicitud **sin indicar el motivo** por el cual requiere de la información.

		### ¿A quién puedo pedirle información?

		Puede solicitarse información a cualquier entidad de la Administración Pública:

		1. Poder Ejecutivo, incluyendo Ministerios y Organismos Públicos Descentralizados
		2. Poder Legislativo
		3. Poder Judicial
		4. Gobiernos Regionales
		5. Gobiernos Locales
		6. Organismos a los que la Constitución Política del Perú y las leyes con eren autonomía (Tribunal Constitucional, el Consejo Nacional de la Magistratura, el Jurado Nacional de Elecciones, la Contraloría General de la República, el Banco Central de Reserva del Perú, la Defensoría del Pueblo, el Registro Nacional de Identi cación y Estado Civil, la Ofcina Nacional de Procesos Electorales, los colegios profesionales (institución con personalidad de derecho público), las universidad públicas, entre otras.)
		7. Las demás entidades y organismos, proyectos y programas del Estado cuyas actividades se realizan en virtud de potestades administrativas y, por tanto se consideran sujetas a las normas comunes de derecho público, salvo mandato expreso de ley que las re era a otro régimen (ej. Juntos, Pronaa, Pronabec, Cajas Municipales, entre otras.)

		### ¿Cómo se puede presentar una Solicitud de Acceso a la Información Pública?

		Según la Ley de Transparencia, las Solicitudes pueden presentarse de manera escrita (en la propia entidad, a través de los formularios disponibles) o de manera digital (mediante el formulario electrónico o correo electrónico que la entidad haya habilitado para ello.)

		### ¿Cuánto cuesta?

		El trámite es completamente gratuito. Sin embargo, en los casos en los que se soliciten copias físicas o grabadas en algún soporte, debera de abonarse el costo del mismo. En el caso de las solicitudes realizadas a través de esta página, no existe costo porque no se utiliza papel ni discos compactos ni otro soporte para entregar la respuesta.

		### ¿Existe algún plazo para que la Entidad responda la Solicitud?

		Las entidades tienen con un plazo de hasta siete (7) días hábiles, contados desde el día siguiente de la recepción de la solicitud para entregar la información pública o denegarla. Excepcionalmente, este plazo puede ampliarse por hasta cinco (5) días hábiles adicionales cuando medien circunstancias que hagan inusualmente difícil reunir la información solicitada.

		## Sobre Pidela.info

		### ¿Qué tan oficial es Pidela.info?

		Pidela.info es una iniciativa privada mantenida por la [Asociación Civil Hiperderecho](http://www.hiperderecho.org/). Se sustenta sobre la posibilidad reconocida legalmente de presentar Solicitudes de Acceso a la Información Pública de manera virtual. Para ello, pone a disposición del público un formulario que permite enviar mensajes a las cuentas de correo designadas por las entidades y obtener respuestas. Respecto de esas entidades, hacer una Solicitud a través de Pidela.info es tan válido como hacerlo a través de un formulario en Mesa de Partes de la entidad.

		### ¿Quiénes podrán leer el contenido mi Solicitud?

		La entidad pública a la que vaya dirigida la Solicitud recibirá toda la información proporcionada. Además, en Pidela.info mostraremos tu nombre y el contenido de tu Solicitud. Por ende, no incluyas nada en tu solicitud que no quieras que terceros vean como datos personales o información privada sobre tu familia, tu empresa o tú mismo.

		### ¿Mi información personal será publicada junto a mi Solicitud?

		En Pidela.info solo mostraremos al público tu nombre y el contenido de tu solicitud, así como los mensajes de respuesta que esta reciba. El resto de tu información personal como dirección de correo electrónico, número de DNI o domicilio será enviado a la entidad pero nunca será publicado en esta página web.

		### No encuentro en Pidela.info la entidad a la que quiero pedirle información

		En Pidela.info solo ofrecemos la posibilidad de realizar Solicitudes a las entidades que han puesto a disposición del público un correo electrónico para recibirlas. Si no encuentras la entidad que buscas, asegúrate visitando su página web de que no disponen de un formulario en línea para realizar la Solicitud o acude al local de la Entidad a presentar en persona tu pedido.

		### Trabajo en una entidad pública y quiero participar de la plataforma.

		Pidela.info es una plataforma abierta a la incorporación de nuevas entidades participantes. La participación en esta plataforma no tiene ningún costo para las entidades públicas. Escríbenos a hola (arroba) hiperderecho (punto) org y cuéntanos dónde trabajas.
	hr