extends ./layout.jade

block head
	title Pidela.info — Enviar Solicitud de Acceso a la Información Pública
	link(href='https://fonts.googleapis.com/css?family=Inconsolata:400,700',rel='stylesheet',type='text/css')
	script(src='https://www.google.com/recaptcha/api.js')

block content
	div.send-question-holder.js-content(data-api-url='#{apiUrl}',data-view='sendQuestion')
		h3 Envía una Solicitud de Acceso a la Información Pública
		p Usa este formulario para enviar una nueva Solicitud de Acceso a la Información Pública
		p Recuerda 
			a(href='/solicitudes-enviadas') verificar que la información que solicitas no se encuentra en nuestra base de datos 
			| o en la página web de la entidad. Todos los campos son obligatorios.
		hr
		div.row
			div.col-md-6.cta-form-holder
				form#ctaForm
					div.form-group
						label(for='ctaFormAgency') Entidad 
						select#ctaFormAgency.form-control.to-validate(name='agencyId')
							option(value='') Elige una entidad de la lista.
							- each agency in agencies
								option(value=agency.id)=agency.name
					div.form-group
						label(for='ctaFormAuthorFullName') Nombre completo 
							span.form-instruction (mínimo 5 carácteres, máximo 60)
						input#ctaFormAuthorFullName.form-control.to-validate(type='text',placeholder='Recuerda usar tu nombre verdadero.',name='authorFullName')
					div.form-group
						label(for='ctaFormDni') DNI 
							span.form-instruction 
						input#ctaFormDni.form-control.to-validate(type='text',placeholder='Le enviaremos esta información a la entidad pero no la publicaremos aquí.',name='dni')
					div.form-group
						label(for='ctaFormAddress') Domicilio 
							span.form-instruction 
						input#ctaFormAddress.form-control.to-validate(type='text',placeholder='Le enviaremos esta información a la entidad pero no la publicaremos aquí.',name='address')
					div.form-group
						label(for='ctaFormAuthor') Correo electrónico 
							span.form-instruction (nunca lo usaremos para enviarte publicidad)
						input#ctaFormAuthor.form-control.to-validate(type='email',placeholder='Por este medio te contactaremos cuando tu Solicitud sea contestada.',name='author')
					div.form-group
						label(for='ctaFormTitle') Sumilla 
							span.form-instruction (mínimo 5 carácteres, máximo 60)
						input#ctaFormTitle.form-control.to-validate(type='text',placeholder='Describe el tema de tu pedido en pocas palabras.',name='title')
					div.form-group
						label(for='ctaFormContent') Solicitud 
						div.main-request
							p Señor
							p.remark Funcionario Responsable de Acceso a la Información Pública
							p De mi consideración:
							p Me dirijo a usted en ejercicio de mi derecho de solicitar acceso a la información pública, en los términos en los que está regulado en la Ley de Transparencia y Acceso a la Información Pública y su Reglamento. Conforme al artículo 10 del Reglamento de la referida Ley, este pedido puede realizarse a través de una dirección electrónica dado que toda la información necesaria se acompaña a este mensaje.
							p Solicito a usted que me proporcione copias electrónicas simples de los siguientes documentos:
							span.js-char-count.pull-right
							span.form-instruction (mínimo 40 carácteres, máximo 800)
							textarea#ctaFormContent.form-control.to-validate(rows='10',placeholder='Lista la información que quieres solicitar.',name='content')
							p
							p Además, preciso que la información solicitada debe de enviarse en formato electrónico mediante mensaje de correo electróncio dirigido a la dirección de origen de este mensaje. Por lo señalado, de acuerdo con el artículo 12 del Reglamento, la respuesta a este pedido no tiene ningún costo.
							p Atentamente,
					div.form-group
						label Haz clic en la casilla de verificación 
						div.g-recaptcha.form-control.to-validate(data-callback='onGrecaptchaChecked',data-sitekey='6Ldi_hMTAAAAACr5PBZqAPIWJvN7X4D7mb4HsC4l')
					div.form-group
						p.alert.alert-danger.collapse.js-cta-form-error-message No hemos podido enviar tu Solicitud. Asegúrate que has completado todos los campos y no has excedido la extensión máximo de caracteres.
						p.alert.alert-success.collapse.js-cta-form-success-message Tu solicitud fue enviada
					button.btn.btn-info(type='submit') Enviar
			div.col-md-6.info-holder
				div.visible-lg-block.extra-info-holder.js-extra-info-holder
					:markdown-it
						Recuerda que tu nombre completo, el contenido de tu solicitud y su respuesta quedarán publicados en esta página.

						Escribe tu solicitud usando un lenguaje sencillo y comprensible. Puedes [mirar otras solicitudes realizadas](/solicitudes-enviadas) para hacerte una mejor idea de cómo escribirla.

						#### ¿Qué información puedo solicitar?

						Una **Solicitud de Acceso a la Información Pública** sirve para pedirle a una entidad del Estado copia de cualquier documento, fotografía, base de datos, grabación o archivo creado, obtenido o actualmente en su poder.

						#### ¿Qué información no puedo solicitar?

						No puedes hacer preguntas genéricas ni pedir ningún documento o información que la entidad no tenga o no haya producido hasta ahora. Tampoco puedes pedir información clasificada como secreta, reservada o confidencial. Puedes conocer más sobre estas excepciones en nuestra [Guía para el Solicitante](/como-funciona). Obviamente, no puedes pedir a través de esta plataforma nada que la Entidad no puede enviarte por correo electrónico.

						Asegúrate que la información que solicitas no esté disponible ya en la página web de la Entidad.
		hr