body {
	padding-top: 0;
}

/* Nav brand */

.pidelainfo .pidelainfo-brand-holder {
	background-color: #2f2f81;
	position: relative;
	top: 0;
	width: 100%;
}
.pidelainfo .pidelainfo-brand {
	background: url(../images/pidelainfo-logo.png) no-repeat;
	display: block;
	height: 80px;
	font-size: 0;
	margin: 20px 0;
	width: 247px;
}
@media(max-width:767px) {
	.pidelainfo .pidelainfo-brand {
		margin: 20px auto;
	}
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.pidelainfo .pidelainfo-brand {
		background: url(../images/pidelainfo-logo@2x.png) no-repeat center top;
		background-size: 247px 80px;
	}
}
.pidelainfo .pidelainfo-brand-fix {
	position: relative;
}
.pidelainfo .pidelainfo-navigation-holder {
	background: #ef4a24;
	position: relative;
	top: 0;
	width: 100%;
}
.pidelainfo.navbar-default .navbar-nav>.active>a,
.pidelainfo.navbar-default .navbar-nav>.active>a:hover,
.pidelainfo.navbar-default .navbar-nav>.active>a:focus {
	background-color: #98250b;
}
.pidelainfo.navbar-default .navbar-nav>li>a:hover,
.pidelainfo.navbar-default .navbar-nav>li>a:focus {
	color: #2f2f81;
}
.pidelainfo.navbar-default .navbar-toggle {
	border-color: transparent;
}

/* Index */

.index-holder {
	position: relative;
}
.index-holder .part-1 .one-line-intro {
	padding: 10px 0 0;
}
@media(min-width: 991px) {
	.index-holder .part-1 .one-line-intro {
		width: 70%;
	}
}
.index-holder .cta-holder {
	background: #2c3e50;
	border-radius: 10px;
	color: white;
	height: 150px;
	padding: 20px 20px 0;
	position: absolute;
	right: 30px;
	top: 70px;
	width: 310px;
}
.index-holder .cta-holder h4 {
	margin-top: 0;
}
.index-holder .part-2 {
	text-align: center;
}
.index-holder .part-2 .steps {
	margin: 20px 0 0;
	min-height: 320px;
}
.index-holder .part-2 .steps .step {
	background: #3394e6;
	border-radius: 5px;
	color: white;
	display: inline-block;
	font-size: 16px;
	height: 190px;
	line-height: 24px;
	margin: 0 10px;
	padding: 20px 29px;
	position: relative;
	vertical-align: top;
	width: 240px;
}
.index-holder .part-2 .steps .step:after {
	content: " ";
	position: absolute;
	left: 101px;
	top: 190px;

	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #3394e6;
}
.index-holder .part-2 .steps .step-number {
	background: black;
	border-radius: 35px;
	color: white;
	font-size: 40px;
	height: 60px;
	left: 91px;
	line-height: 60px;
	top: 220px;
	width: 60px;
	position: absolute;
}
.index-holder .part-2 .steps .steps-line {
	background: black;
	height: 10px;
	margin: 0 auto;
	position: relative;
	width: 570px;
	top: 56px;
	z-index: -1;
}
@media(max-width:767px) {
	.index-holder .part-2 .steps {
		min-height: initial;
	}
	.index-holder .part-2 .steps .step {
		display: block;
		font-size: 13px;
		height: 80px;
		left: 40px;
		line-height: inherit;
		padding: 7px 25px;
		position: relative;
		margin: 10px 0;
		width: 90%;
	}
	.index-holder .part-2 .steps .step:after {
		content: none;
	}
	.index-holder .part-2 .steps .step-number {
		position: absolute;
		display: block;
		top: 12px;
		left: -40px;
	}
	.index-holder .part-2 .learn-more {
		left: 11px;
		position: relative;
		top: 7px;
	}
	.index-holder .part-2 .learn-more a {
		font-size: 12px;
	}
}
@media(min-width:768px) and (max-width: 991px) {
	.index-holder .part-2 .steps {
		min-height: initial;
	}
	.index-holder .part-2 .steps .step {
		display: block;
		height: 70px;
		left: 90px;
		line-height: inherit;
		padding: 13px;
		position: relative;
		margin: 10px 0;
		width: 80%;
	}
	.index-holder .part-2 .steps .step:after {
		content: none;
	}
	.index-holder .part-2 .steps .step-number {
		position: absolute;
		display: block!important;
		top: 10px;
		left: -80px;
	}
}
.index-holder .part-3 {
	min-height: 400px;
}
.index-holder .part-3 .agencies {
	list-style-type: none;
	padding: 0;
}
.index-holder .part-3 .question a:hover h4 {
	text-decoration: underline;
}
.index-holder .part-3 .question p {
	text-decoration: none!important;
}
.index-holder .part-3 .question h4 {
	display: inline-block;
	margin: 0;
	vertical-align: top;
}
.index-holder .part-3 .question span {
	display: inline-block;
	margin: 0 0 0 5px;
	vertical-align: top;
}
.index-holder .part-3 .question span:before {
	content: " para ";
}

.pidelainfo .index-holder .jumbotron {
	background-color: #ddddf2;
}
.pidelainfo .index-holder .jumbotron h2,
.pidelainfo .index-holder .jumbotron a {
	color: #2f2f81;
}
.pidelainfo .index-holder .cta-holder {
	background: #2f2f81;
}
.pidelainfo .index-holder .btn-success {
	border-color: #ef4a24;
	background: #ef4a24;
	color: white;
	font-size: 22px;
}
.pidelainfo .index-holder .btn-success:hover {
	border-color: #98250b;
	background: #98250b;
}
.pidelainfo .index-holder .part-2 .steps .step {
	background: #2f2f81;
}
.pidelainfo .index-holder .part-2 .steps .step:after {
	border-top: 20px solid #2f2f81;
}
.pidelainfo .index-holder .btn-info {
	border-color: #2f2f81;
	background: #2f2f81;
	color: white;
}
.pidelainfo .index-holder .btn-info:hover {
	background: #0e0e29;
}
.pidelainfo a {
	color: #2f2f81;
	font-weight: bold;
}

/* Send question */

.send-question-holder {
	min-height: 500px;
}
.send-question-holder .cta-form-holder {
	border-right: 1px solid #ccc;
}
.send-question-holder .form-instruction {
	font-size: 11px;
}
.send-question-holder .info-holder {
	padding: 20px;
	position: relative;
}
.send-question-holder .extra-info-affix {
	position: fixed;
	width: 545px;
	top: 20px;
}
.send-question-holder .extra-info-affix-bottom {
	position: relative;
	width: 100%;
	top: 838px;
}
.send-question-holder .main-request {
	border: 3px solid black;
	font-family: 'Inconsolata', sans-serif;
	padding: 25px 20px;
}
.send-question-holder .remark {
	font-weight: bold;
}
.send-question-holder .g-recaptcha.form-control {
	height: 80px;
	padding: 0;
	width: 306px;
}
.pidelainfo .send-question-holder .btn-info {
	border-color: #2f2f81;
	background: #2f2f81;
	color: white;
}
.pidelainfo .send-question-holder .btn-info:hover {
	background: #0e0e29;
}
/* Question */

.question-holder {
	min-height: 500px;
}
.question-holder .remark {
	font-weight: 600;
}
.question-holder .author-full-name {
	text-transform: capitalize;
}
.question-holder .change-status-copy,
.question-holder .change-status,
.question-holder .keep-answering,
.question-holder .keep-answering-copy {
	display: inline;
}
.question-holder .item-content {
	background: whitesmoke;
	border: solid 1px floralwhite;
	border-radius: 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	margin: 25px 0;
	padding: 25px;
	white-space: pre-wrap;
}
.question-holder .question-content {
	border-top: solid 5px #18bc9c;
	border-bottom: solid 5px #18bc9c;
}
.question-holder .answer-content.agency {
	border-top: solid 5px #3498db;
	border-bottom: solid 5px #3498db;
}
.question-holder .answer-content.author {
	border-top: solid 5px #18bc9c;
	border-bottom: solid 5px #18bc9c;
}
.question-holder .answer-content .attachment-holder .attachment {
	font-size: 18px;
}
.question-holder .answer-content .attachment-holder .attachment .file-size {
	font-size: 14px;
}
.question-holder .answer-content .attachment-holder .attachment:hover > .fa {
	text-decoration: none;
}
.question-holder .form-instruction {
	font-size: 11px;
}

.pidelainfo .question-holder .question-content{
	border-top: solid 5px #2f2f81;
	border-bottom: solid 5px #2f2f81;
}
.pidelainfo .answer-content.agency {
	border-top: solid 5px #ef4a24;
	border-bottom: solid 5px #ef4a24;
}
.pidelainfo .answer-content.author {
	border-top: solid 5px #2f2f81;
	border-bottom: solid 5px #2f2f81;
}

/* Browse questions */

.browse-questions-holder {
	min-height: 500px;
}
.browse-questions-holder .question a:hover h4 {
	text-decoration: underline;
}
.browse-questions-holder .question p {
	text-decoration: none!important;
}
.browse-questions-holder .question h4 {
	display: inline-block;
	margin: 0;
	vertical-align: top;
}
.browse-questions-holder .question span.for {
	display: inline-block;
	margin: 0 0 0 5px;
	vertical-align: top;
}
.browse-questions-holder .question span.for:before {
	content: " para ";
}
.browse-questions-holder .pagination-holder {
	text-align: center;
}
.pidelainfo .browse-questions-holder .btn-info {
	border-color: #2f2f81;
	background: #2f2f81;
	color: white;
}
.pidelainfo .browse-questions-holder .btn-info:hover {
	background: #0e0e29;
}
.pidelainfo .browse-questions-holder .btn-success {
	border-color: #ef4a24;
	background: #ef4a24;
	color: white;
}
.pidelainfo .browse-questions-holder .btn-success:hover,
.pidelainfo .browse-questions-holder .btn-success.active {
	border-color: #98250b;
	background: #98250b;
}
.pidelainfo .browse-questions-holder .pagination>li>a,
.pidelainfo .browse-questions-holder .pagination>li>span {
	border-color: #ef4a24;
	background: #ef4a24;
	color: white;
}
.pidelainfo .browse-questions-holder .pagination>li.active>a,
.pidelainfo .browse-questions-holder .pagination>li.active>span {
	border-color: #98250b;
	background: #98250b;
}

/* Agencies */

.agencies-holder {
	min-height: 500px;
}
.agencies-holder .extra-info-holder {
	min-height: 81px;
}
.agencies-holder .list-of-agencies {
	list-style: none;
	padding: 0;
}

/* How it Works */

.how-it-works-holder .copy-content {
	border-right: 1px solid #ccc;
}
.how-it-works-holder .copy-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.how-it-works-holder .copy-menu-affix {
	position: fixed;
	width: 360px;
	top: 20px;
}
.how-it-works-holder .copy-menu-affix-bottom {
	position: relative;
	width: 100%;
	top: 2715px;
}
.how-it-works-holder .copy-menu .indent-1 {
	margin: 0 0 0 10px;
}
.how-it-works-holder .copy-menu .indent-2 {
	margin: 0 0 0 20px;
}

/* Credits */
.credits-holder {
	margin: 0 0 40%;
}

/* Footer */

.footer-holder {
	background: #2c3e50;
	color: white;
	padding: 50px 0;
}
.footer-credits-holder {
	background: #2c3e50;
	padding: 20px 0;
}

.pidelainfo.footer-holder {
	background: #2f2f81;
	color: white;
}
.pidelainfo.footer-holder .hiperderecho-brand {
	background: url(../images/hiperderecho-logo.png) no-repeat;
	display: block;
	font-size: 0;
	height: 33px;
	width: 294px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.pidelainfo.footer-holder .hiperderecho-brand {
		background: url(../images/hiperderecho-logo@2x.png) no-repeat center top;
		background-size: 294px 33px;
	}
}
.pidelainfo.footer-holder .hivos-brand {
	background: url(../images/hivos-logo.png) no-repeat;
	display: block;
	font-size: 0;
	height: 53px;
	width: 89px;
}
@media(max-width:767px) {
	.pidelainfo.footer-holder .hivos-brand {
		margin: 40px 0 0;
	}
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.pidelainfo.footer-holder .hivos-brand {
		background: url(../images/hivos-logo@2x.png) no-repeat center top;
		background-size: 89px 53px;
	}
}
.pidelainfo.footer-credits-holder {
	background: #0e0e29;
	color: white;
}
.pidelainfo.footer-credits-holder a {
	color: white;
}
.pidelainfo .pidelainfo-sponsor-copy {
	margin: 4px 0 0;
}

/* 404 */

.fourohfour-holder {
	min-height: 500px;
}

/* Utils */

.pi-icon:before {
	font-family: FontAwesome;
	margin: 0 2px 0 0;
}
.pi-icon-lg {
	display: inline-block;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	width: 25px;
}
.pi-icon-open:before {
	content: "\f01c";
}
.pi-icon-unsuccessful:before {
	content: "\f27b";
}
.pi-icon-successful:before {
	content: "\f00c";
}
.pi-icon-unanswered:before {
	content: "\f023";
}
.dont-break-out {
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	word-break: break-word;

	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens; auto;
	hyphens: auto;
}

/* Third party */
.gmail_extra {
	display: none;
}
.gmail_quote {
	display: none;
}
.tooltip {
	width: 400px;
}
.tooltip-inner {
	max-width: none;
}